.container{
    /* border: 1px solid black; */
    background-color: #f5f5f5;
    margin-bottom: 1rem;
}
.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navList{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #FF5D5D;
    color: #060303;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
.input{
    flex: 1;
	height: 100%;
	border: none;
	outline: none;
	padding-left: 0.5rem;
	font-size: 1.1rem;
	border-radius: inherit;
}
.button{


	padding-right: 0.5rem;
    background-color: #243A73;
    color: white;
    border: none;
    height:inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}
.search{
    background-color: #fff;
	max-width: 80%;
	height: 3rem;
	display: flex;
   flex-direction: row;
	
    margin: 0 auto;
	box-shadow: 0 2px 7px 2px #a2a2a2;
	border-radius: 0.3rem;
    height: 3rem;
    overflow: hidden;
    transition: height 1s ease-in-out;
}
/* .search:hover{
    height: 10rem;
} */

.hidenSearch{
    background-color: #fff;
	max-width: 80%;
	height: 3rem;
	display: flex;
   flex-direction: row;
	
    margin: 0 auto;
	box-shadow: 0 2px 7px 2px #a2a2a2;
	border-radius: 0.3rem;
    height: 0;
    overflow: hidden;
    transition: height 1s ease-in-out;
}





.links:hover{
    background-color: white;
}
.close{
    background-color: #060303;
    color: white;
    font-weight: 700;
    max-width: 30%;
    padding: 1rem 1rem;
    height: 100%;
    align-self: flex-end;
    border-radius: 5px;
}
.icon:hover{
    cursor: pointer;
   background-color: white;
}
@media screen and (max-width: 750px) {
    .navList {
      display: none;
    }
    .top{
        
        justify-content: space-evenly;
        padding-left: 3rem;
    }

    .search{
        flex-wrap: nowrap;
    }
  
  }

