.collection{
    display: flex;
    flex-direction:column
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.label{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.select{
    margin-left: 0.6rem;
    font-family: 'Poppins', sans-serif;
    padding: 0.2rem 1.5rem;
    background-color:#FFFFDE ;
}
@media screen and (max-width: 750px) {

    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      
    }
    .label{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .select{
        margin-left: 0;
    }
   }