.breedDay{
    text-align: center;
    font-family: 'Pacifico', cursive;
    /* background-color: #C499BA; */
    
    /* font-family: 'Dancing Script', cursive; */
   /* font-family: 'Fascinate Inline', cursive; */
}
.subtitle{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 0;
}
.breedDayContainer{
    display: flex;
    justify-content: center;
}